@media screen {
	margin: 20px;
}

@media print and (color), projection and (device-aspect-ratio: 16/9) {
	margin: 10px;
	@page :left {
		color: black;
		@bottom-left-corner {
			margin: 2cm;
		}
	}
}
